body {
  color: #000305;
}

.body {
   margin: 0 auto;
   width: 90%;
}

.score {
    padding: 20px;
}

.container {
    padding: 20px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 25px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
     border-radius: 25px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
     border-radius: 25px;
}

li a:hover:not(.active) {
    background-color: skyblue;
    color: white;
    text-decoration: none;
     border-radius: 25px;
}